{
  "body": "$util.escapeJavaScript($input.body).replaceAll("\\'","'")",
  "headers": {
    #foreach($param in $input.params().header.keySet())
    "$param": "$util.escapeJavaScript($input.params().header.get($param)).replaceAll("\\'","'")" #if($foreach.hasNext),#end
    
    #end  
  }
}